@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
:root {
   --orange-color: #FF6E1D;
   --black-color: #111111;
   --text-color: #666666;
   --light-color: #FFFFFF;
}
body{
   background-color: var(--light-color);
   color: var(--text-color);
}
.navbar{
   height: 80px;
   display: flex;
   gap: 20px;
   justify-content: center;
   align-items: center;
}
.logo{
   padding-left: 60px;
   padding-right: 80px;
}
.content{
   display: flex;
   justify-content: center;
   align-items: center;
}
.content a{
   font-family: Montserrat;
   text-decoration: none;
   color: var(--text-color);
   transition: .3s;
   font-size: 16px;
}
.content a:hover{
   color: var(--orange-color);
   font-weight: 500;
}
.mainbtn{
   padding-right:250px;
}
.main{
   border-radius: 5px;
   padding:16px 35px;
   background-color: var(--orange-color);
   color: var(--light-color);
   font-family: Montserrat;
   text-decoration: none;
   transition: .3s;
   font-weight: 500;
}
.main:hover{
   background-color: var(--light-color);
   border: 1px solid #FF6E1D;
   font-weight: 500;
   color: var(--orange-color);
}