@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
:root {
   --orange-color: #FF6E1D;
   --black-color: #111111;
   --text-color: #666666;
   --light-color: #FFFFFF;
}
body{
   background-color: var(--light-color);
   color: var(--text-color);
}
/* Navbar */
.navbar{
   height: 80px;
   display: flex;
   gap: 20px;
   justify-content: center;
   align-items: center;
}
.logo{
   padding-left: 60px;
   padding-right: 80px;
}
.content{
   display: flex;
   justify-content: center;
   align-items: center;
}
.content a{
   font-family: Montserrat;
   text-decoration: none;
   color: var(--text-color);
   transition: .3s;
   font-size: 16px;
}
.content a:hover{
   color: var(--orange-color);
}
.mainbtn{
   padding-right:250px;
}
.main{
   border-radius: 5px;
   padding:16px 35px;
   background-color: var(--orange-color);
   color: var(--light-color);
   font-family: Montserrat;
   text-decoration: none;
   transition: .3s;
   font-weight: 500;
   border: 1px solid transparent;
}
.main:hover{
   background-color: var(--light-color);
   border: 1px solid #FF6E1D;
   color: var(--orange-color);
}
/* Hero section */
.hero-sec{
   position: relative;
   height: 70vh;
}
.hero-con{
   width: 50%;
   padding-top: 100px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 20px;
   padding-right: 50px;
   overflow: hidden;
   position: relative;
   z-index: 10;
}
.hero-con p{
   font-family: Montserrat;
   padding-left: 60px;
}
.book-btn{
   padding-right: 250px;
}
.lg-btn{
   border-radius: 5px;
   padding:16px 35px;
   background-color: var(--orange-color);
   color: var(--light-color);
   font-family: Montserrat;
   transition: .3s;
   font-weight: 500;
   border: 1px solid transparent;
}
.lg-btn:hover{
   background-color: var(--light-color);
   border: 1px solid #FF6E1D;
   color: var(--orange-color);
}
#carimg{
   position: absolute;
   right: 0;
   bottom: 0px;
   width: 700px;
   z-index: 3;
   transition: .5s;
}
.shape{
   position: absolute;
   left: 0;
   bottom: -120px;
   width: 100%;
   z-index: 2;
}
.dots{
   margin-top: 10px;
   display: flex;
   gap: 10px;
   padding-right:320px ;
}
.dot{
   width: 5px;
   height: 5px;
   border-radius: 50%;
   background-color: var(--orange-color);
   border: 1px solid transparent;
}
.dot:active{
   background-color: var(--light-color);
   border: 2px solid #FF6E1D;
   width: 10px;
   height: 10px;
}
.header{
   margin-top: 200px;
}
.box{
   width: 70px;
   height: 70px;
}
.box:hover{
   background-color: var(--orange-color);
}
.box:hover img{
   filter: brightness(0) invert(1);
}